<div>
        <button type="button"  ng-click="closeAll();"class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        
            <div class="header clearfix">
            <nav>

                <ul class="nav nav-pills ">
                    <li role="presentation" class="active">
                        <a class="btn btn-lg btn-warning">{{SelectTable.TableName}}</a>
                    </li>
                    <li role="presentation" ng-class="{'active': showDBScript}" >
                        <a href="#"  ng-class="{'btn btn-lg btn-warning': showDBScript}" ng-click="showPage('showDBScript');" >DBScript</a>
                    </li>
                    <li role="presentation" ng-class="{'active': showGlobalLayer}" >
                        <a href="#"  ng-class="{'btn btn-lg btn-warning': showGlobalLayer}"  ng-click="showPage('showGlobalLayer');"> Global</a>
                    </li>
                    <li role="presentation" ng-class="{'active': showDataAccess}" >
                        <a href="#" ng-class="{'btn btn-lg btn-warning': showDataAccess}"  ng-click="showPage('showDataAccess');" >DataAccess</a>
                    </li>
                    <li role="presentation" ng-class="{'active': showBusinessLogic}"  >
                        <a href="#" ng-class="{'btn btn-lg btn-warning': showBusinessLogic}"  ng-click="showPage('showBusinessLogic');" >BusinessLogic</a>
                    </li>
                    <li role="presentation" ng-class="{'active': showPresentation}" >
                        <a href="#" ng-class="{'btn btn-lg btn-warning': showPresentation}"  ng-click="showPage('showPresentation');">Presentation</a>
                    </li>
                    <li role="presentation" ng-class="{'active': showJsonObject}" >
                        <a href="#" ng-class="{'btn btn-lg btn-warning': showJsonObject}"  ng-click="showPage('showJsonObject')">Json</a>
                    </li>

                    <li role="presentation" ng-class="{'active': showEditTableMode}" >
                        <a href="#" ng-class="{'btn btn-lg btn-warning': showEditTableMode}"  ng-click="showPage('showEditTableMode')">Edit</a>
                    </li>
                    <li role="presentation" ng-class="{'active': showOrHideInsertColumnMode}" >
                        <a href="#"ng-class="{'btn btn-lg btn-warning': showOrHideInsertColumnMode}"   ng-click="showPage('showOrHideInsertColumnMode')" >Insert</a>
                    </li>
                    <li role="presentation" ng-class="{'active': showOrHideFilterColumnMode}" >
                        <a href="#" ng-class="{'btn btn-lg btn-warning': showOrHideFilterColumnMode}"  ng-click="showPage('showOrHideFilterColumnMode')">Filter</a>
                    </li>
                   
                </ul>
            </nav>
            
            </div>
        
        
        
            <hr>
</div>